.top{
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 3%;
   
}

#divHead{
    background-color: aquamarine;
    padding-top: 5px;
    padding-bottom: 5px;
   
}


#foot{
    
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

#divFooter{
    background-color: aquamarine;
}
.cuerpo{
    margin-left: 10%;
    font-style: normal;
  
}